body {
  margin: 0 auto;  /* Para que el contenedor este centrado */
  text-align:center;
  padding-top: 20px;
}

h2{
  text-align: center;
  margin-bottom: 10px;
  color:#FFF;
  font-family:Verdana, Geneva, sans-serif;
  font-size: 30px;
}

.Image{
  height: 110px;
  margin-top: 25px;
}

.Texto{
  text-align: center;
  color:#000;
  font-family:Arial;
  font-size: 25px;
  
}

.Boton {
  background-color: #ffffff;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* HEADER */
.header{
	height:170px;
  float: none;
	position:absolute;
  background:inherit;
	box-sizing:border-box;
	background-color: rgba(0, 255, 255);
	border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}

/* navBar */
.navBar {
  margin-top: 10px;
  padding-top: 10px;
  height:100px;
  background:inherit;
  background-color: rgba(0,0,0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}

/* rigthMenu */
.leftMenu{
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  float: none;
  position: absolute;
  background:inherit;
  background-color: rgba(255, 255, 255);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}

/* content */
.content {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  float: left;
  background:inherit;
  background-color: rgba(51, 153, 51);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}

/* rightMenu */
.rightMenu {
  margin-top: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 5px;
  float: none;
  background:inherit;
  background-color: rgba(255, 255, 255);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}

/* footer */ 
.footer{
  margin-top: 10px;
  padding-top: 10px;
  height:70px;
  float: none;
  position:absolute;
  background:inherit;
  background-color: rgba(0, 255, 255);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
